// colors
$color-primary: #54DC00;
$color-primary-shadow: #519527;
$color-black: #24292c;
$color-off-white: #e7f0f5;
$color-white: #f5f8f2;

// Animation Timing
$fade-in-slow: .5s;
$fade-in-quick: .2s;